<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en" ng-app  ng-controller="AreaCtrl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title>Where to Grab Your Brew</title>

    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript" src="javascripts/jquery-1.7.1.min.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/controllers.js"></script>

  </head>
  <body>

    <h1>"Where oh where can I get my Bayani Brew fix today?"</h1>
    
    <div id="nationwide-branches">
      <div class="bold">
        {{areasNationwide.name}}
      </div>
      <div>
        <ul>
          <li ng-repeat = "item in areasNationwide.branches">
            <a ng-href="{{item.link}}" ng-class="{nolink: !item.link.length}">{{item.name}}</a> - {{item.text}}
          </li>
        </ul>  
      </div>
    </div>
    
    <!-- <img id="served" src="images/proudly-served-here.jpg" alt=""> -->
    
    <div id="metro-manila-branches">
      <div class="bold">
        Metro Manila
      </div>
      <ul>
        <li ng-repeat = "area in areasMetro">
          <div>
            {{area.name}}
          </div>
          <div>
            <ul>
              <li ng-repeat = "item in area.branches">
                <a ng-href="{{item.link}}" ng-class="{nolink: !item.link.length}">{{item.name}}</a> - {{item.text}}
              </li>
            </ul>  
          </div>
        </li>
      </ul>
    </div>
    
    <div id="luzon-branches">
      <div class="bold">
        {{areasLuzon.name}}
      </div>
      <div>
        <ul>
          <li ng-repeat = "item in areasLuzon.branches">
            <a ng-href="{{item.link}}" ng-class="{nolink: !item.link.length}">{{item.name}}</a> - {{item.text}}
          </li>
        </ul>  
      </div>
    </div>
    
    <div id="visayas-branches">
      <div class="bold">
        {{areasVisayas.name}}
      </div>
      <div>
        <ul>
          <li ng-repeat = "item in areasVisayas.branches">
            <a ng-href="{{item.link}}" ng-class="{nolink: !item.link.length}">{{item.name}}</a> - {{item.text}}
          </li>
        </ul>  
      </div>
    </div>
          
    <div>
      <span class="bold"> What?!? No Bayani Brew near you?! </span> PM us so we can direct you to the nearest outlet!
    </div>     
    <div>
      <span class="bold"> You want to sell Bayani Brew too? </span> Tell us about your café/resto/shop/spa/gym/tambayan by sending a PM here!
    </div>     
     
     

  </body>
</html>