img#served {
	float: right;
}

body {
	background-image: url("../images/Bayani-Logo-alpha-7.png");
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 13px;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 100% 10%;
}

.bold {
	font-weight: bold;
}

.nolink {
	text-decoration: none;
	color: black;
	cursor: default;	
}